/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* ELEMENTOS DE FORMULÁRIO */
button {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
}

/* REMOVER ESTILOS PADRÃO */
button {
  border: none;
  background: none;
}
